/*Fonts: Montserrat, Coral Pixels, Rubik 80s Fade, Bytesized, BBH Sans Bogle, BBH Sans Bartle, VT323*/
body{
    margin:0;
}

.title{
    font-family: "Coral Pixels";
    font-size: 80px;
    text-align:center;
    margin-top:20px;
    margin-bottom: 0px;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.title:hover{
    cursor:grab;
}
.desc{
    font-family: "VT323";
    font-size: 25px;
    text-align: center;
    margin-top: -10px;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.desc:hover{
    cursor:grab;
}

.def{
    font-family: "VT323";
    font-size: 27px;
    text-align: center;

    margin-left: 0px;
    margin-top: 30px;
}

.bar{
    height: 45px;
    width: 100%;
    background-color:rgb(7, 155, 31);
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid;
    
    padding-left: 10;
    padding-right: 10;
}

.f1 img{
    height: auto;
    width: 80px;
    position:relative;
    left: 300px;
    top: 100px;
    padding: 10px;

}
.f1 img:hover{
    opacity: 0.75;
    cursor: grab;
    
}
.f1 img:active{
    opacity: 0.6;
    cursor:grabbing;
}

.f2 img{
    height: auto;
    width: 80px;
    position:relative;
    left: 400px;
    top: 100px;
    padding: 10px;

}
.f2 img:hover{
    opacity: 0.75;
    cursor: grab;
    
}
.f2 img:active{
    opacity: 0.6;
    cursor:grabbing;
}

.f3 img{
    height: auto;
    width: 80px;
    position:relative;
    left: 600px;
    top: 100px;
    padding: 10px;

}
.f3 img:hover{
    opacity: 0.75;
    cursor: grab;
    
}
.f3 img:active{
    opacity: 0.6;
    cursor:grabbing;
}
