/*Fonts: Montserrat, Coral Pixels, Rubik 80s Fade, Bytesized, BBH Sans Bogle, BBH Sans Bartle, VT323*/
body{
    margin:0;
}
a{
    text-decoration: 0;
    display: inline-block;
    color: black;
}
.container{
    border: 3px solid black;
    text-align: center;
    height: fit-content;
    width: fit-content;
    
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 90vh;
}


/*gifs*/
.dino{
    position:absolute;
    top: 675px;
    right: 60px;
    margin-left:0;
/*
    animation: walk;
    animation-duration: 15s;
    animation-iteration-count: infinite;*/
}
.dino img{
    height: 100px;
    width: auto;
}

@keyframes walk{
    from{
        margin-left:0%;
    }
    to{
        margin-right:50%;
    }
    to{
        margin-left:100%;
    }
}



