/*Fonts: Montserrat, Coral Pixels, Rubik 80s Fade, Bytesized, BBH Sans Bogle, BBH Sans Bartle, VT323*/
body{
    margin:0;
}
a{
    text-decoration: 0;
    display: inline-block;
    color: black;
}

.title{
    font-family: "Coral Pixels";
    font-size: 80px;
    text-align:center;
    margin-top:30px;
    margin-bottom: 0px;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.title:hover{
    cursor:grab;
}
.desc{
    font-family: "VT323";
    font-size: 35px;
    text-align: center;
    margin-top: -10px;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.desc:hover{
    cursor:grab;
}

.def{
    font-family: "VT323";
    font-size: 27px;
    text-align: center;

    margin-left: 0px;
    margin-top: 30px;
}


/* NOTE: put all folders under one class then add an id to each folder. 
Also use position: absolute to place folders anywhere */
.icon{
    text-align: center;
}

.icon img{
    height: auto;
    width: 90px;
    padding: 0px;
}
.icon img:hover{
    opacity: 0.75;
    cursor: pointer;
    
}
.icon img:active{
    opacity: 0.6;
}
.icon .name{
    display: block;
    margin-top: 0;
    margin-bottom:0;
    color:black;
    font-family: "VT323";
    text-align: center;
}

#proj{
    position:absolute;
    top: 240px;
    left: 470px;
}
#res{
    position:absolute;
    top: 290px;
    left: 700px;
}

#about {
    position:absolute;
    top: 400px;
    left: 880px;
}
#git{
    position: absolute;
    top: 460px;
    left: 500px;
}

/*BAR STUFF*/
.bar{
    height: 50px;
    width: 100%;
    background-color:coral;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-top-color:brown;
    border-bottom-color:rgb(250, 141, 141);
    
    padding-left: 10;
    padding-right: 10;
}
.barbutton{
    font-family:'VT323';
    font-size: 30px;
    text-align: center;

    top: 5px;
    bottom: 5px;

    border-radius: 3px solid;
    border-right: none;
    border-bottom: none;

    border-top-color: rgb(246, 194, 194);
    border-left-color: rgb(246, 194, 194);
    
    box-shadow: 2px 2px rgb(89, 20, 20), -2px -2px inset rgb(132, 88, 88), 2px 2px inset rgb(241, 162, 162);
    background-color: coral;

}

.barbutton:hover{
    cursor:pointer;
}
.barbutton:active{
    background-color:rgb(249, 169, 139);
    border-top-color: rgb(89, 20, 20) ;
    border-left-color: rgb(89, 20, 20);
    border-right: none;
    border-bottom: none;
    box-shadow: 2px 2px rgb(245, 180, 180), 2px 2px inset rgb(115, 71, 71), -2px -2px inset rgb(238, 152, 152);;
}

#start{
    position:absolute;
    left: 10px;
    width: 120px;
}

#ld{
    position: absolute;
    left: 145px;
    
    background-color:white;
    padding: 5px;
    top: 2px;
    bottom: 3px;
}
#ld img{
    height: 35px;
    bottom: 2px;
}
#ld img:active{
    opacity:0.5;
}
#ld:active{
    box-shadow: 2px 2px rgb(67, 66, 66) inset, -2px -2px gray inset;
    background-color:white;
}

#spot{
    position: absolute;
    left: 255px;

    padding: 5px;
    top: 2px;
    bottom: 3px;
    background-color: rgb(96, 94, 94);
}
#spot img{
    height: 35px;
    bottom: 2px;
}
#spot img:active{
    opacity:0.5;
}
#spot:active{
    box-shadow: 2px 2px rgb(28, 27, 27) inset, -2px -2px rgb(66, 66, 66) inset;
    background-color: rgb(96, 94, 94);
}

#insta{
    position: absolute;
    left: 200px;

    padding: 5px;
    top: 2px;
    bottom: 3px;
    background-color: rgb(202, 171, 112);
}
#insta img{
    height: 35px;
    bottom: 2px;
    margin-right: 1px;
    margin-bottom: 2px;
}
#insta img:active{
    opacity: 0.5;
}
#insta:active{
    box-shadow: 2px 2px rgb(65, 49, 36) inset, -2px -2px rgb(112, 83, 70) inset;
    background-color:rgb(131, 106, 63);
}


/*RESUME*/
.resume{
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 330px;
}
.resume:hover{
    cursor:none;
}

/*gifs*/
.dino{
    position:absolute;
    top: 675px;
    right: 60px;
    margin-left:0;
/*
    animation: walk;
    animation-duration: 15s;
    animation-iteration-count: infinite;*/
}
.dino img{
    height: 100px;
    width: auto;
}

@keyframes walk{
    from{
        margin-left:0%;
    }
    to{
        margin-right:50%;
    }
    to{
        margin-left:100%;
    }
}

/*PROJECTS*/
.app{
    text-align: center;
}
.app img{
    width: 170px;
    height: auto;
    padding:0px;
}
.app .appname{
    font-family:"VT323";
    font-size: 20px;
    text-align: center;
    display: block;
    margin:0;
}
.app:hover{
    cursor:pointer;
    opacity: 0.8;
}
#hs{
    position: absolute;
    top: 250px;
    left: 470px;
}

/*HOTSTOX EMBED*/

.hotstox{
    height: fit-content;

    margin: 0px auto 5px auto;
    width: 62%;
}

.hsdesc{
    font-family:"vt323";
    font-size: 25px;
    text-align: center;
    padding:0;
    
    margin: 70px 300px 10px 300px;

}

.hsdesc p{
    margin: 0;
    padding: 0;
}
/*DIRECTORY*/
.directory{

    font-family:"VT323";
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 15px;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.directory:hover{
    cursor:pointer;
    font-weight:bold;
}

/*REPO*/
.repo{
    text-align: center;
}
.repo a{
    font-family:"vt323";
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding:0;

    color:rgb(68, 68, 249);
    
}
.repo a:hover{
    color:rgb(121, 121, 239);
}
