/*DIRECTORY*/
.directory{

    font-family:"VT323";
    font-size: 1.5vw;
    position: fixed;
    top: 1vw;
    left: 1.5vw;
    color:gray;
    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.directory:hover{
    cursor: pointer;
}
.directory a{
    color:gray;
}


.directory a:hover{
    cursor:pointer;
    font-weight:bolder;
    color: rgb(95, 93, 93);
}

#resume{
    position: absolute;
    z-index: 999;
}

@media (max-width: 500px){
    .directory{
        font-size: 2.5vh;
        padding-left: 1vw;
    }
}