body{
    margin:0;
    overflow: hidden;
    text-align: center !important;
}
a{
    text-decoration: 0;
    display: inline-block;
    color: black;
}
.container{
    border: 3px solid black;
    text-align: center;
    height: fit-content;
    width: fit-content;
    
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 90vh;
}


#ticont{
    justify-self: center;
    border: none;
    width: 100%;
}
.title{
    font-family: "Coral Pixels";
    font-size: 8vw;
    text-align:center;
    margin: 0;
    display: inline-block;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
/*
.title:hover{
    cursor:grab;
    transform: scale3d(1.3, 0.9, 1)
}
*/
.title:hover{
    cursor: pointer;
    animation: fall 7s ease-in-out;
}
#descont{
    justify-self: center;
    border: none;
    margin: -10px;
    width: 100%;
}
.desc{
    font-family: "VT323";
    font-size: 2.7vw;
    text-align: center;
    margin: 0;
    display: inline-block;

    user-select:none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}








/* NOTE: put all folders under one class then add an id to each folder. 
Also use position: absolute to place folders anywhere */
.folder_container{
    width: 8vw;
    border: none;
    
}
#namecont{
    justify-self: center;
    margin-top: -6%;
    border: none;
    font-size: 1.3vw;
}

.icon{
    display: inline-block;
}

.icon img{
    height: auto;
    width: 100%; /*allows for folders to just be complete size of container, resize with foldcont*/
    padding: 0px;
    margin: 0 auto;
}
.icon img:hover{
    opacity: 0.75;
    cursor: pointer;
    
}
.icon img:active{
    opacity: 0.6;
}
.icon .name{
    display: inline-block;
    margin: 0;
    color:black;
    font-family: "VT323";
    text-align: center;
    font-size: 1.3vw;
}

/*position within container*/
#proj{
    position:relative;
}
#res{
    position:relative;
}

#about {
    position:relative;
}
#git{
    position: relative;
}

/*overall folder position*/
#projcont{
    position: absolute;
    top: 2%;
    left: 32%;
    
}
#rescont{
    position: absolute;
    top: 7%;
    left: 50%;
    
    
}
#abcont{
    position: absolute;
    top: 30%;
    right: 30%;
}
#gitcont{
    position: absolute;
    top: 34%;
    left: 37%;
}


/*BAR*/

.bar{
    height: 6.6vh;
    width: 100%;
    background-color:coral;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-top-color:brown;
    border-bottom-color:rgb(250, 141, 141);
    
    padding-left: 10;
    padding-right: 10;
}
.barbutton{
    font-family:'VT323';
    font-size: 2vw;
    text-align: center;

    top: 5px;
    bottom: 5px;

    border-radius: 3px solid;
    border-right: none;
    border-bottom: none;

    border-top-color: rgb(246, 194, 194);
    border-left-color: rgb(246, 194, 194);
    
    box-shadow: 2px 2px rgb(89, 20, 20), -2px -2px inset rgb(132, 88, 88), 2px 2px inset rgb(241, 162, 162);
    background-color: coral;

}

.barbutton:hover{
    cursor:pointer;
}
.barbutton:active{
    background-color:rgb(249, 169, 139);
    border-top-color: rgb(89, 20, 20) ;
    border-left-color: rgb(89, 20, 20);
    border-right: none;
    border-bottom: none;
    box-shadow: 2px 2px rgb(245, 180, 180), 2px 2px inset rgb(115, 71, 71), -2px -2px inset rgb(238, 152, 152);;
}

#start{
    position:absolute;
    /* align-self: center; */
    justify-self: center;
    left: 1vw;
    width: 8vw;
    text-align: center;
    font-size: 2.3vw;
}

.barlinks{
    justify-self: left;
    /* border: 2px black solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 100%;
    /* width: 20vw; */
    gap: 10%;
    position: absolute;
    left: 10vw;
}
#ld{
    background-color:white;
    padding: 5%; 
    /* top: 2px; */
    /* bottom: 3px; */
    height: 70%;
    align-self: center;
    align-content: center;
    justify-content: center;
}
#ld img{
    height: 4.5vh;
    bottom: 1vw;
    align-self: center;
}
#ld img:active{
    opacity:0.5;
}
#ld:active{
    box-shadow: 2px 2px rgb(67, 66, 66) inset, -2px -2px gray inset;
    background-color:white;
}

#spot{
    padding: 5%;
    height: 70%;
    background-color: rgb(96, 94, 94);
}
#spot img{
    height: 4.5vh;
    bottom: 1vw;
    align-self: center;
}
#spot img:active{
    opacity:0.5;
}
#spot:active{
    box-shadow: 2px 2px rgb(28, 27, 27) inset, -2px -2px rgb(66, 66, 66) inset;
    background-color: rgb(96, 94, 94);
}

#insta{
    padding: 5%;
    height: 70%;
    background-color: rgb(202, 171, 112);
}
#insta img{
    height: 4.5vh;
    bottom: 1vw;
    align-self: center;
    /* margin-right: 1px;
    margin-bottom: 2px; */
}
#insta img:active{
    opacity: 0.5;
}
#insta:active{
    box-shadow: 2px 2px rgb(65, 49, 36) inset, -2px -2px rgb(112, 83, 70) inset;
    background-color:rgb(131, 106, 63);
}


@media (max-width: 500px){
    body{
        overflow: hidden;
        text-align: center !important;
    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        margin-top: 5vh;
        margin-bottom: none;
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .container{
        border: 3px solid black;
        text-align: center;
        height: fit-content;
        width: fit-content;
    }
    a{
        text-decoration: 0;
        display: inline-block;
        color: black !important;
    }
    #ticont{
        justify-self: center;
        border: none;
        margin-top: 5vh;
        text-align: center;
        justify-items: center !important;
        width: 100%;
    }
    .title{
        font-family: "Coral Pixels";
        font-size: 17.5vw;
        text-align:center !important;
        margin: 0;
        display: inline-block;

        user-select:none;
        -moz-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    .title:hover{
        cursor: pointer;
        animation: fall 7s ease-in-out;
    }
    
    #descont{
        justify-self: center;
        border: none;
        margin: -0.5vh;
        width: 100% !important;
        text-align: center !important;
        color: black !important;
    }
    .desc{
        font-family: "VT323";
        font-size: 8vw;
        text-align: center !important;
        margin: 0;
        display: inline-block;

        user-select:none;
        -moz-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }

    /************************************/

    .folder_container{
        width: 25vw;
        border: none;
    }
    #namecont{
        justify-self: center;
        justify-items: center !important;
        margin-top: -6%;
        border: none;
        font-size: 4.5vw;
        color:black;
        text-align: center !important;
    }
    .icon{
        display: inline-block;
    }
    .icon img{
        height: auto;
        width: 100%; /*allows for folders to just be complete size of container, resize with foldcont*/
        padding: 0px;
        margin: 0 auto;
    }
    .icon img:hover{
        opacity: 0.75;
        cursor: pointer;
        
    }
    .icon img:active{
        opacity: 0.6;
    }
    .icon .name{
        display: inline-block;
        margin: 0;
        color:black !important;
        font-family: "VT323";
        text-align: center;
        font-size: 2.3vh;
    }

    /*position within container*/
    #proj{
        position:relative;
    }
    #res{
        position:relative;
    }

    #about {
        position:relative;
    }
    #git{
        position: relative;
    }

    /*overall folder position*/
    #projcont{
        position: absolute;
        top: 2%;
        left: 20%;
    }
    #rescont{
        position: absolute;
        top: 15%;
        left: 55%;
    }
    #abcont{
        position: absolute;
        top: 60%;
        right: 14%;
    }
    #gitcont{
        position: absolute;
        top: 45%;
        left: 15%;
    }

    /**********************/
    /*BAR*/
    
    .bar{
        height: 8vh;
        min-height: 50px;
        width: 100%;
        background-color:coral;
        position: fixed;
        bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid;
        border-bottom: 2px solid;
        border-top-color:brown;
        border-bottom-color:rgb(250, 141, 141);
        
        padding-left: 10;
        padding-right: 10;

        display: flex;
        justify-content: center;
        /* justify-items: center; */
        align-items: center;
    }
    .barbutton{
        font-family:'VT323';
        font-size: 2vw;
        text-align: center;

        top: 5px;
        bottom: 5px;

        border-radius: 3px solid;
        border-right: none;
        border-bottom: none;

        border-top-color: rgb(246, 194, 194);
        border-left-color: rgb(246, 194, 194);
        
        box-shadow: 2px 2px rgb(89, 20, 20), -2px -2px inset rgb(132, 88, 88), 2px 2px inset rgb(241, 162, 162);
        background-color: coral;

    }

    .barbutton:hover{
        cursor:pointer;
    }
    .barbutton:active{
        background-color:rgb(249, 169, 139);
        border-top-color: rgb(89, 20, 20) ;
        border-left-color: rgb(89, 20, 20);
        border-right: none;
        border-bottom: none;
        box-shadow: 2px 2px rgb(245, 180, 180), 2px 2px inset rgb(115, 71, 71), -2px -2px inset rgb(238, 152, 152);;
    }

    #start{
        /* position:absolute; */
        /* align-self: center; */
        /* justify-self: center; */
        /* left: 1vw; */
        /* width: 25vw;
        text-align: center;
        font-size: 7vw;
        left: 10vw; */
        display: none;
    }

    .barlinks{
        /* position: relative; */
        /* border: 2px black solid; */
        /* left: 25vw; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        height: 80%;
        gap: 10%;
        left: 21vw;
        width: auto;
        /* position: absolute; */

    }
    #ld, #spot, #insta{
        background-color:white;
        /* padding: 5%;  */
        /* top: 2px; */
        /* bottom: 3px; */
        height: 5vh !important;
        width: auto !important;

        display: flex;
        align-self: center;
        align-content: center;
        justify-content: center;
        /* box-sizing: border-box; */

        transition: none;
    }
    #ld img, #spot img, #insta img{
        height: 5vh;
        width: auto;
        align-self: center;
        object-fit: contain;
    }
    #ld img:active{
        opacity:0.5;
    }
    #ld:active{
        /* box-shadow: 2px 2px rgb(67, 66, 66) inset, -2px -2px gray inset; */
        background-color:white;
    }

    #spot{
        padding: 5%;
        height: 5vh;
        background-color: rgb(96, 94, 94);
    }
    #spot img{
        height: 5vh;
        width: auto;
        align-self: center;
    }
    #spot img:active{
        opacity:0.5;
    }
    #spot:active{
        /* box-shadow: 2px 2px rgb(28, 27, 27) inset, -2px -2px rgb(66, 66, 66) inset; */
        background-color: rgb(96, 94, 94);
    }

    #insta{
        padding: 5%;
        height: 5vh;
        background-color: rgb(202, 171, 112);
    }
    #insta img{
        height: 5vh;
        width: 5vh;
        align-self: center;
        /* margin-right: 1px;
        margin-bottom: 2px; */
    }
    #insta img:active{
        opacity: 0.5;
    }
    #insta:active{
        /* box-shadow: 2px 2px rgb(65, 49, 36) inset, -2px -2px rgb(112, 83, 70) inset; */
        background-color:rgb(131, 106, 63);
    }
}



/*ANIMATIONS*/

@keyframes fall{
    0%{
        transform: translateX(0px) translateY(0px);
    }
    5%{
        transform: translateX(0.5vw) rotate(5deg) translateY(2vh);
    }
    10%{
        transform: translateX(-1vw) rotate(-6deg);
    }
    15%{
        transform: translateX(0.5vw) rotate(8deg);
    }
    20%{
        transform: translateX(2vw) rotate(-9deg);
    }
    30%{
        transform: translateX(1vw) rotate(5deg);
    }
    40%{
        transform: translateX(-0.5vw) rotate(-7deg);
    }
    50%{
        transform: translateX(1vw) rotate(4deg);
    } 
    68%{
        transform: translateX(0vw) rotate(-5deg);
    } 
    85%{
        transform: translateX(0vw) rotate(8deg);
    } 
    100%{
        transform: translateX(0px) rotate(4deg) translateY(100vh);
    }
}